<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lkibk.riasec2070" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Akademi Karir RIASEC</name>
    <description>Aplikasi Perencanaan Karir BK Model RIASEC.</description>
    <author email="developer@example.com" href="https://github.com">Hidayat Rahman</author>
    <content src="story_html5.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
</widget>
